.side-bar {
  position: fixed;
  background-color: white;
  height: 100vh;
  width: 15vw;
  z-index: 1;
  
  display: flex;
  flex-direction: column;
}

.button-sid-bar {
  all: unset;
  cursor: pointer;
  align-self: flex-end;
  padding: 10px;
}

.svg-hamburguer {
  width: 30px;
  
}
