.side-bar {
  position: fixed;
  background-color: white;
  height: 100vh;
  width: 30vw;
  z-index: 999;
  box-shadow: 1px 1px 10px black;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  font-family: 'Trebuchet MS', sans-serif;
}

.side-bar span {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  align-self: center;
  margin-top: 20px;
}

.button-sid-bar {
  all: unset;
  cursor: pointer;
  align-self: flex-end;
  padding: 10px;
  position: fixed;
}

.svg-hamburguer {
  width: 30px;
  
}

.tabela-produtos {
  align-self: center;
  margin-top: 40px;
  /* height: 300px; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.total {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.troco {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.tabela-troco {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.pagamento {
  align-self: center;
  margin-bottom: 20px;
}

.input-pagar-total {
  padding: 4px 8px;
}

.pagamento button {
  all: unset;
  cursor: pointer;
  background-color: #3F96CD;
  margin-left: 10px;
  padding: 4px 8px;
  border-radius: 10px;
}

.pagamento button:hover {
  background-color: #225270;
}