.header {
  color: white;
  min-height: 20vh;
  min-width: 100vw;
  background-color: black;
  position: fixed;
  z-index: 998;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 60px;
  color: white;
  margin: 0 0 50px 0;
}
  
.description {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 40px;
}

.button-svg-header {
  all: unset;
  cursor: pointer;
  align-self: flex-start;
  padding-left: 30px;
}

.svg-hamburguer-header {
  fill: white;
  width: 30px;
}